use_pipe = true;

display:
{
	font = "-b&h-luxi mono-bold-r-*-*-80-*-*-*-*-*-*";
	color = "red";
	shadow_offset = 5;
	outline_offset = 8;
	outline_color = "green";
	position = "bottom";
	vertical_offset = 20;
	align = "center";
};

commands = (
	{
		command = "time";
		renderer = "time";
		format = "%S";
		duration = 10;
	},
	{
		command = "uptime";
		renderer = "uptime";
		duration = 2;
	},
	{
		command = "time2";
		renderer = "time";
		format = "%m:%S";
		duration = 3;
	},
	{
		command = "acpi";
		renderer = "exec";
		run = "acpi";
		duration = 5;
	}
)

